<hr>
&copy; 2020. <br/>
<!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            CST 336 Internet Programming 2020&copy; Barez <br /> <!-- &copy for copyright -->
            <strong> Disclaimer:</strong> the information on this page is for academic purposes. <br />
            It is used for academic purposes only, unauthorized usage is prohibited.
            
            This will again be updated on: <%= future %> <br/>
            
            
            <figure> <!-- includes an image -->
                    <img src="img/csumblogo.png" alt = "logo" />
            </figure>
            
        </footer>
        <!-- closing footer -->
</body> 
</html> 