<!DOCTYPE html> 
<html lang="en">
<html> 
<head> 
<title> Active Directory </title> 
<link rel="stylesheet" href="/css/styles.css" > 

</head> 
<body> 
<hl> Welcome to the Active Directory site!</hl> 

<nav>
<br> 
<a href="/"> Home </a> 
<br>
<p>Click on a section to know more about it:</p> 
<a href="/automation"> Automation </a> 

<a href="/domaintrusts"> Domains & Trusts </a> 
 
<a href="/userscomputers"> Users and Computers </a>

</nav>
