<%- include('partials/header.ejs') %>
<!-- This is the head --> 
<!-- All styles and javascript go inside the head -->
    <head> <!-- appears at top of site-->
        <meta charset ="utf-8" />
        <title> Active Directory Users & Computers
        </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" /> 
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <!--Linking to webpage with CSS file, rel is stylesheet value, type no longer required since stylesheets text.-->
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body> <!--You can add a style to this but discouraged-->
        <header>
            <h1> AD Users & Computers Info </h1> <!-- headings get smaller as number gets higher-->
            </header>
            <hr /> <!-- defines a content change by a horizontal rule-->
            
            <br /><br /> <!-- Line break -->
            
            <main> <!-- main content -->
                <figure> <!-- includes an image -->
                    <img src="img/adusers.png" alt="AD Users & Computers" />
                </figure>
                
                <div id = paragraph> <!-- defines container -->
                    <b>Active Directory Users & Computers:</b><br /> 
                    <p> Active Directory Users & Computers (ADUC) is a industry renowned tool 
                    utilized by admins to perform daily tasks and much more in Active Directory. 
                    ADUC also provides an object based view of the domain in the Active Directory
                    environment. Users can be added to a group and and will have corresponding 
                    access. </p> <!-- paragraph -->
                    <br /><br />
                    
                    <hr style="border: 2px solid blue;" />
                    <a href="https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/plan/understanding-the-active-directory-logical-model/">Source</a>
                </div>
            </main>
    <!-- closing body -->

</html>
<%- include('partials/footer.ejs') %>